aiobotocore==2.4.2
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.9.2
amqp==5.1.1
anyio==3.6.2
apache-airflow==2.5.1
apache-airflow-providers-amazon==7.1.0
apache-airflow-providers-apache-spark==4.0.0
apache-airflow-providers-celery==3.1.0
apache-airflow-providers-common-sql==1.3.3
apache-airflow-providers-ftp==3.3.0
apache-airflow-providers-http==4.1.1
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-mysql==4.0.0
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
argcomplete==2.0.0
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==22.2.0
Automat==20.2.0
Babel==2.11.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
blinker==1.5
boto3==1.26.55
botocore==1.27.59
cachelib==0.9.0
cattrs==22.2.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
cloud-init==22.4.2
colorama==0.4.6
colorlog==4.8.0
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
ConfigUpdater==3.1.1
connexion==2.14.1
constantly==15.1.0
cron-descriptor==1.2.32
croniter==1.3.8
cryptography==38.0.4
dbus-python==1.2.18
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distro==1.7.0
distro-info===1.1build1
dnspython==2.3.0
docutils==0.19
ec2-hibinit-agent==1.0.0
email-validator==1.3.1
exceptiongroup==1.1.0
Flask==2.2.2
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flower==1.2.0
frozenlist==1.3.3
fsspec==2023.1.0
graphviz==0.20.1
greenlet==2.0.1
gunicorn==20.1.0
h11==0.14.0
httpcore==0.16.3
httplib2==0.20.2
httpx==0.23.3
humanize==4.4.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.6.4
incremental==21.3.0
inflection==0.5.1
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.32
jsonpath-ng==1.5.3
jsonpointer==2.0
jsonschema==4.17.3
keyring==23.5.0
kombu==5.2.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.4
mypy-boto3-appflow==1.26.53
mypy-boto3-rds==1.26.47
mypy-boto3-redshift-data==1.26.30
mysql-connector-python==8.0.32
mysqlclient==2.1.1
netifaces==0.11.0
numpy==1.24.1
oauthlib==3.2.0
packaging==23.0
pandas==1.5.3
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pluggy==1.0.0
ply==3.11
prison==0.2.1
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
py4j==0.10.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.21
Pygments==2.14.0
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.6.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyrsistent==0.19.3
pyserial==3.5
pyspark==3.3.1
python-apt==2.3.0+ubuntu2.1
python-daemon==2.3.2
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-magic==0.4.24
python-nvd3==0.15.0
python-slugify==7.0.0
pytz==2022.7.1
pytzdata==2020.1
PyYAML==6.0
redshift-connector==2.0.909
requests==2.28.2
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==13.2.0
s3fs==2023.1.0
s3transfer==0.6.0
scramp==1.4.4
SecretStorage==3.3.1
service-identity==18.1.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-redshift==0.8.12
SQLAlchemy-Utils==0.39.0
sqlparse==0.4.3
ssh-import-id==5.11
systemd-python==234
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.2.0
text-unidecode==1.3
tornado==6.1
Twisted==22.1.0
typing_extensions==4.4.0
ubuntu-advantage-tools==27.12
uc-micro-py==1.0.1
ufw==0.36.1
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.26.14
vine==5.0.0
wadllib==1.3.6
watchtower==2.0.1
wcwidth==0.2.6
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
yarl==1.8.2
zipp==1.0.0
zope.interface==5.4.0